#hero>* {
    text-align: center;
    color: var(--bkg-color)
}

#hero h1 {
    font-size: 4rem;
    margin-top: 4rem;
    margin-bottom: 15px;
}

#hero h3 {
    font-size: 1.8rem;
}

#app-container {
    display: flex;
    gap: 1rem;
    margin: 2rem 2rem;
    /* background-color: purple; */
}

#app-container>div {
    --container-width: 550px;
    box-sizing: border-box;
    flex: 1;
    overflow: auto;
    width: var(--container-width);
    aspect-ratio: 8.27 / 11.9;
    padding: 35px 35px;
    border: 2.5px solid
}