:root {
  font-size: 62.5%;
  --font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
  --dark-color: hsl(233, 33%, 26%);
  --accent-color: hsl(214, 73%, 45%);
  --bkg-color: hsl(219, 35%, 100%);

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-color);
}

h1,
h2,
h3,
p,
em,
strong {
  font-family: var(--font-family);
  margin: 0;
}


#root {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
}